<ul
  id="mobile-menu-list"
  class="mobile-menu-list z-20 py-12 bg-[#E2EAF3] w-screen absolute top-full h-[calc(100vh-var(--header-height))] transform transition duration-200"
  :class="$store.global.isMobileMenuVisible ? 'translate-x-0' : '-translate-x-full'"
  role="menu"
  x-cloak
>
  {% for link in linklists['main-menu'].links %}
    <li class="mobile-menu-item" role="presentation">
      <a
        href="{{ link.url }}"
        role="menuitem"
        class="py-3 px-8 text-lg block text-[#586272] {% if link.active %} bg-[#586272] {% endif %} hover:bg-[#586272] font-medium bg-opacity-10 hover:bg-opacity-10 transition"
      >
        {{- link.title -}}
      </a>
    </li>
  {% endfor %}
</ul>
