{% schema %}
{
  "name": "header",
  "class": "section-header sticky top-0 z-20",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    },
    {
      "type": "link_list",
      "label": "Menu",
      "id": "menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
{% assign linklist = section.settings.menu %}

<div
  class="py-4 lg:py-8 border-b border-night-sky border-opacity-10 transition-transform duration-200 bg-[#E2EAF3]"
  :class="$store.global.isHeaderVisible ? 'translate-y-0' : '-translate-y-full'"
  @wheel.window.throttle.400="event.deltaY > 0 && window.scrollY > $el.offsetHeight ? $store.global.isHeaderVisible = false : $store.global.isHeaderVisible = true"
>
  <nav class="container flex items-center justify-between max-md:hidden">
    <a href="/">
      {{ section.settings.logo | image_url: width: 480 | image_tag: class: 'w-48' }}
    </a>
    <ul class="flex items-center gap-10">
      {% for link in linklist.links %}
        <li>
          <a
            href="{{ link.url }}"
            class="text-base text-night-sky {%  if link.active %} font-medium {% else %} font-normal{% endif %}"
          >
            {{- link.title -}}
          </a>
        </li>
      {% endfor %}
    </ul>
    <a href="/cart">
      {% render 'cart-icon' %}
    </a>
  </nav>
  <nav class="md:hidden flex items-center justify-between gap-5 container">
    {% render 'dropdown-icon' %}
    {% render 'close-mobile-menu' %}
    <a href="/">
      {{ section.settings.logo | image_url: width: 480 | image_tag: class: 'w-32' }}
    </a>
    <a href="/cart">
      {% render 'cart-icon' %}
    </a>
  </nav>
  {% render 'mobile-menu' %}
</div>
